<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=11">
    <title>Aegis Ashore Support Building</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <script src="../public/js/Libraries/jquery-3.3.1.js"></script>
    <script src="../public/js/Libraries/bootstrap.min.js"></script>
    <!-- <script src="../public/js/Libraries/phaser.min.js"></script> -->
    <script src="../public/js/Libraries/phaser.js"></script>
    <script src="../public/js/bundle.js"></script>
</head>
<body>
    <div class="content"></div>
    <canvas class="video-canvas"></canvas>
    <div class="loading assignment-loader table-loader">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            parent.iFrameLoaded();
        });
    </script>
</body>
</html>